
button {
    width: 50%;
    align-self: center;
    margin-bottom: 10%;
}

/* Small devices such as large phones (640px and up) */
@media only screen and (max-width: 40em) {
    button {
        width: 100%;
    }
}

/* Medium devices such as tablets (768px and up) */
@media only screen and (min-width: 48em) {
}

/* Large devices such as laptops (1024px and up) */
@media only screen and (min-width: 64em) {
}

/* Largest devices such as desktops (1280px and up) */
@media only screen and (min-width: 80em) {
}