div {
  color: rgb(199, 87, 87);
}

#flappyContainer {
  text-align: center;
  align-self: center;
  min-height: 500px;
  max-height: 500px;
  height: 500px;
  width: 80%;
  margin-top: 20px;
  margin-bottom: 50px;
  border: 5px solid red;
  position: relative;
  background-color: aqua;
}
