html,
body,
#root {
  height: 100%;
  margin: 0;
  background-color: #242526;
  min-width: 370px;
}

.mainContainer {
  background-color: #242526;
  display: flex;
  flex-flow: column;
  height: 100%;
  padding: 5%;
}
